## Persiapan

In [ ]:
%pip install duckdb pandas numpy  kagglehub

Requirement already satisfied: duckdb in c:\users\lenovo\appdata\local\programs\python\python312\lib\site-packages (1.2.1)
Requirement already satisfied: pandas in c:\users\lenovo\appdata\local\programs\python\python312\lib\site-packages (2.2.3)
Requirement already satisfied: numpy in c:\users\lenovo\appdata\local\programs\python\python312\lib\site-packages (2.2.2)
Collecting kagglehub
  Downloading kagglehub-0.3.10-py3-none-any.whl.metadata (31 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\lenovo\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\lenovo\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\lenovo\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: packaging in c:\users\lenovo\appdata\roaming\python\python312\site-packages (from kagglehub) (24.1)
Requirement already satisfied: pyyaml in c:\users\lenovo\appdata\local\programs\python\python312\lib\site-packages (from kagglehub) (6.0.2)
Requirement already satisfied: requests in c:\users\lenovo\appdata\local\programs\python\python312\lib\site-packages (from kagglehub) (2.32.3)
Requirement already satisfied: tqdm in c:\users\lenovo\appdata\local\programs\python\python312\lib\site-packages (from kagglehub) (4.66.6)
Requirement already satisfied: six>=1.5 in c:\users\lenovo\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\lenovo\appdata\local\programs\python\python312\lib\site-packages (from requests->kagglehub) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\lenovo\appdata\local\programs\python\python312\lib\site-packages (from requests->kagglehub) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\lenovo\appdata\local\programs\python\python312\lib\site-packages (from requests->kagglehub) (1.26.20)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\lenovo\appdata\local\programs\python\python312\lib\site-packages (from requests->kagglehub) (2024.8.30)
Requirement already satisfied: colorama in c:\users\lenovo\appdata\roaming\python\python312\site-packages (from tqdm->kagglehub) (0.4.6)
Downloading kagglehub-0.3.10-py3-none-any.whl (63 kB)
Installing collected packages: kagglehub
Successfully installed kagglehub-0.3.10

In [1]:
import duckdb
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
import os

In [6]:
import kagglehub

path = kagglehub.dataset_download("olistbr/brazilian-ecommerce")

print("Path to dataset files:", path)

Path to dataset files: C:\Users\lenovo\.cache\kagglehub\datasets\olistbr\brazilian-ecommerce\versions\2

In [7]:
customers = pd.read_csv(os.path.join(path,'olist_customers_dataset.csv'))
geo = pd.read_csv(os.path.join(path,'olist_geolocation_dataset.csv'))
items = pd.read_csv(os.path.join(path,'olist_order_items_dataset.csv'))
payments = pd.read_csv(os.path.join(path,'olist_order_payments_dataset.csv'))
reviews = pd.read_csv(os.path.join(path,'olist_order_reviews_dataset.csv'))
orders = pd.read_csv(os.path.join(path,'olist_orders_dataset.csv'))
products = pd.read_csv(os.path.join(path,'olist_products_dataset.csv'))
sellers = pd.read_csv(os.path.join(path,'olist_sellers_dataset.csv'))
category = pd.read_csv(os.path.join(path,'product_category_name_translation.csv'))

In [22]:
print(f"Customers: \n{customers.head()}\n")
print(f"Geo Location: \n{geo.head()}\n")
print(f"Items: \n{items.head()}\n")
print(f"Payments: \n{payments.head()}\n")
print(f"Reviews: \n{reviews.head()}\n")
print(f"Orders: \n{orders.head()}\n")
print(f"Products: \n{products.head()}\n")
print(f"Sellers: \n{sellers.head()}\n")
print(f"Product Category: \n{category.head()}\n")

Customers:
                        customer_id                customer_unique_id  \
0  06b8999e2fba1a1fbc88172c00ba8bc7  861eff4711a542e4b93843c6dd7febb0
1  18955e83d337fd6b2def6b18a428ac77  290c77bc529b7ac935b93aa66c333dc3
2  4e7b3e00288586ebd08712fdd0374a03  060e732b5b29e8181a18229c7b0b2b5e
3  b2b6027bc5c5109e529d4dc6358b12c3  259dac757896d24d7702b9acbbff3f3c
4  4f2d8ab171c80ec8364f7c12e35b23ad  345ecd01c38d18a9036ed96c73b8d066

   customer_zip_code_prefix          customer_city customer_state
0                     14409                 franca             SP
1                      9790  sao bernardo do campo             SP
2                      1151              sao paulo             SP
3                      8775        mogi das cruzes             SP
4                     13056               campinas             SP

Geo Location:
   geolocation_zip_code_prefix  geolocation_lat  geolocation_lng  \
0                         1037       -23.545621       -46.639292
1                         1046       -23.546081       -46.644820
2                         1046       -23.546129       -46.642951
3                         1041       -23.544392       -46.639499
4                         1035       -23.541578       -46.641607

  geolocation_city geolocation_state
0        sao paulo                SP
1        sao paulo                SP
2        sao paulo                SP
3        sao paulo                SP
4        sao paulo                SP

Items:
                           order_id  order_item_id  \
0  00010242fe8c5a6d1ba2dd792cb16214              1
1  00018f77f2f0320c557190d7a144bdd3              1
2  000229ec398224ef6ca0657da4fc703e              1
3  00024acbcdf0a6daa1e931b038114c75              1
4  00042b26cf59d7ce69dfabb4e55b4fd9              1

                         product_id                         seller_id  \
0  4244733e06e7ecb4970a6e2683c13e61  48436dade18ac8b2bce089ec2a041202
1  e5f2d52b802189ee658865ca93d83a8f  dd7ddc04e1b6c2c614352b383efe2d36
2  c777355d18b72b67abbeef9df44fd0fd  5b51032eddd242adc84c38acab88f23d
3  7634da152a4610f1595efa32f14722fc  9d7a1d34a5052409006425275ba1c2b4
4  ac6c3623068f30de03045865e4e10089  df560393f3a51e74553ab94004ba5c87

   shipping_limit_date   price  freight_value
0  2017-09-19 09:45:35   58.90          13.29
1  2017-05-03 11:05:13  239.90          19.93
2  2018-01-18 14:48:30  199.00          17.87
3  2018-08-15 10:10:18   12.99          12.79
4  2017-02-13 13:57:51  199.90          18.14

Payments:
                           order_id  payment_sequential payment_type  \
0  b81ef226f3fe1789b1e8b2acac839d17                   1  credit_card
1  a9810da82917af2d9aefd1278f1dcfa0                   1  credit_card
2  25e8ea4e93396b6fa0d3dd708e76c1bd                   1  credit_card
3  ba78997921bbcdc1373bb41e913ab953                   1  credit_card
4  42fdf880ba16b47b59251dd489d4441a                   1  credit_card

   payment_installments  payment_value
0                     8          99.33
1                     1          24.39
2                     1          65.71
3                     8         107.78
4                     2         128.45

Reviews:
                          review_id                          order_id  \
0  7bc2406110b926393aa56f80a40eba40  73fc7af87114b39712e6da79b0a377eb
1  80e641a11e56f04c1ad469d5645fdfde  a548910a1c6147796b98fdf73dbeba33
2  228ce5500dc1d8e020d8d1322874b6f0  f9e4b658b201a9f2ecdecbb34bed034b
3  e64fb393e7b32834bb789ff8bb30750e  658677c97b385a9be170737859d3511b
4  f7c4243c7fe1938f181bec41a392bdeb  8e6bfb81e283fa7e4f11123a3fb894f1

   review_score review_comment_title  \
0             4                  NaN
1             5                  NaN
2             5                  NaN
3             5                  NaN
4             5                  NaN

                              review_comment_message review_creation_date  \
0                                                NaN  2018-01-18 00:00:00
1                                                NaN  2018-03-10 00:00:00
2                                                NaN  2018-02-17 00:00:00
3              Recebi bem antes do prazo estipulado.  2017-04-21 00:00:00
4  Parabéns lojas lannister adorei comprar pela I...  2018-03-01 00:00:00

  review_answer_timestamp
0     2018-01-18 21:46:59
1     2018-03-11 03:05:13
2     2018-02-18 14:36:24
3     2017-04-21 22:02:06
4     2018-03-02 10:26:53

Orders:
                           order_id                       customer_id  \
0  e481f51cbdc54678b7cc49136f2d6af7  9ef432eb6251297304e76186b10a928d
1  53cdb2fc8bc7dce0b6741e2150273451  b0830fb4747a6c6d20dea0b8c802d7ef
2  47770eb9100c2d0c44946d9cf07ec65d  41ce2a54c0b03bf3443c3d931a367089
3  949d5b44dbf5de918fe9c16f97b45f8a  f88197465ea7920adcdbec7375364d82
4  ad21c59c0840e6cb83a9ceb5573f8159  8ab97904e6daea8866dbdbc4fb7aad2c

  order_status order_purchase_timestamp    order_approved_at  \
0    delivered      2017-10-02 10:56:33  2017-10-02 11:07:15
1    delivered      2018-07-24 20:41:37  2018-07-26 03:24:27
2    delivered      2018-08-08 08:38:49  2018-08-08 08:55:23
3    delivered      2017-11-18 19:28:06  2017-11-18 19:45:59
4    delivered      2018-02-13 21:18:39  2018-02-13 22:20:29

  order_delivered_carrier_date order_delivered_customer_date  \
0          2017-10-04 19:55:00           2017-10-10 21:25:13
1          2018-07-26 14:31:00           2018-08-07 15:27:45
2          2018-08-08 13:50:00           2018-08-17 18:06:29
3          2017-11-22 13:39:59           2017-12-02 00:28:42
4          2018-02-14 19:46:34           2018-02-16 18:17:02

  order_estimated_delivery_date
0           2017-10-18 00:00:00
1           2018-08-13 00:00:00
2           2018-09-04 00:00:00
3           2017-12-15 00:00:00
4           2018-02-26 00:00:00

Products:
                         product_id  product_category_name  \
0  1e9e8ef04dbcff4541ed26657ea517e5             perfumaria
1  3aa071139cb16b67ca9e5dea641aaa2f                  artes
2  96bd76ec8810374ed1b65e291975717f          esporte_lazer
3  cef67bcfe19066a932b7673e239eb23d                  bebes
4  9dc1a7de274444849c219cff195d0b71  utilidades_domesticas

   product_name_lenght  product_description_lenght  product_photos_qty  \
0                 40.0                       287.0                 1.0
1                 44.0                       276.0                 1.0
2                 46.0                       250.0                 1.0
3                 27.0                       261.0                 1.0
4                 37.0                       402.0                 4.0

   product_weight_g  product_length_cm  product_height_cm  product_width_cm
0             225.0               16.0               10.0              14.0
1            1000.0               30.0               18.0              20.0
2             154.0               18.0                9.0              15.0
3             371.0               26.0                4.0              26.0
4             625.0               20.0               17.0              13.0

Sellers:
                          seller_id  seller_zip_code_prefix  \
0  3442f8959a84dea7ee197c632cb2df15                   13023
1  d1b65fc7debc3361ea86b5f14c68d2e2                   13844
2  ce3ad9de960102d0677a81f5d0bb7b2d                   20031
3  c0f3eea2e14555b6faeea3dd58c1b1c3                    4195
4  51a04a8a6bdcb23deccc82b0b80742cf                   12914

         seller_city seller_state
0           campinas           SP
1         mogi guacu           SP
2     rio de janeiro           RJ
3          sao paulo           SP
4  braganca paulista           SP

Product Category:
    product_category_name product_category_name_english
0            beleza_saude                 health_beauty
1  informatica_acessorios         computers_accessories
2              automotivo                          auto
3         cama_mesa_banho                bed_bath_table
4        moveis_decoracao               furniture_decor

## Koneksi DuckDB dan DDL

Koneksi ke DuckDB

In [2]:
conn = duckdb.connect("brazilian_ecommerce.db")
print("Terhubung ke DuckDB : brazilian_ecommerce.db")

# conn.close()
# print("Koneksi ke DuckDB tertutup")

Terhubung ke DuckDB : brazilian_ecommerce.db

Fact Constellation Schema

**Tabel Dimensi:**

dim_customers → Informasi pelanggan.

dim_products → Informasi produk.

dim_sellers → Informasi penjual.

dim_geo → Informasi lokasi berdasarkan kode pos.

dim_time → Dimensi waktu untuk analisis berbasis periode.

**Tabel Fakta:**

fact_orders → Menganalisis transaksi pesanan.

fact_order_items → Menganalisis detail produk dalam pesanan.

fact_payments → Menganalisis pembayaran pelanggan.

fact_reviews → Menganalisis ulasan pelanggan terhadap produk.

In [ ]:
def create_datawarehouse_schema():

    # Membuat tabel dimensi
    conn.execute("""
                 -- Dimensi Geolocation
                 CREATE OR REPLACE TABLE dim_geolocation (
                    geolocation_sk INTEGER PRIMARY KEY,
                    zip_code_prefix VARCHAR NOT NULL,
                    latitude DECIMAL(10,6) NOT NULL,
                    longitude DECIMAL(10,6) NOT NULL,
                    geolocation_city VARCHAR NOT NULL,
                    geolocation_state VARCHAR NOT NULL
                );
                 """)
    
    conn.execute("""
                CREATE OR REPLACE TABLE dim_customers (
                    customer_sk INTEGER PRIMARY KEY,
                    customer_id VARCHAR UNIQUE NOT NULL,
                    customer_unique_id VARCHAR NOT NULL,
                    geolocation_sk INTEGER NOT NULL,
                    FOREIGN KEY (geolocation_sk) REFERENCES dim_geo(geolocation_sk)
                );

                CREATE OR REPLACE TABLE dim_sellers (
                    seller_sk INTEGER PRIMARY KEY,
                    seller_id VARCHAR UNIQUE NOT NULL,
                    geolocation_sk INTEGER NOT NULL,
                    FOREIGN KEY (geolocation_sk) REFERENCES dim_geo(geolocation_sk)
                );

                CREATE OR REPLACE TABLE dim_time (
                    time_sk INTEGER PRIMARY KEY,
                    date DATE UNIQUE NOT NULL,
                    year INTEGER NOT NULL,
                    month INTEGER NOT NULL,
                    day_of_week VARCHAR NOT NULL
                );
                """)

## Proses ETL

### Extract

In [3]:
def extract_source_data():
    """Ekstrak data dari sumber"""

    customers_df = customers.copy()
    geo_df = geo.copy()
    items_df = items.copy()
    payments_df = payments.copy()
    reviews_df = reviews.copy()
    orders_df = orders.copy()
    products_df = products.copy()
    sellers_df = sellers.copy()
    category_df = category.copy()

    print(f"Data berhasil diekstrak:")
    print(f"Jumlah data customers: {customers_df.shape[0]}")
    print(f"Jumlah data geolocation: {geo_df.shape[0]}")
    print(f"Jumlah data items: {items_df.shape[0]}")
    print(f"Jumlah data payments: {payments_df.shape[0]}")
    print(f"Jumlah data reviews: {reviews_df.shape[0]}")
    print(f"Jumlah data orders: {orders_df.shape[0]}")
    print(f"Jumlah data products: {products_df.shape[0]}")
    print(f"Jumlah data sellers: {sellers_df.shape[0]}")
    print(f"Jumlah data product category: {category_df.shape[0]}")

    return customers_df, geo_df, items_df, payments_df, reviews_df, orders_df, products_df, sellers_df, category_df

In [8]:
customers_df, geo_df, items_df, payments_df, reviews_df, orders_df, products_df, sellers_df, category_df = extract_source_data()

Data berhasil diekstrak:
Jumlah data customers: 99441
Jumlah data geolocation: 1000163
Jumlah data items: 112650
Jumlah data payments: 103886
Jumlah data reviews: 99224
Jumlah data orders: 99441
Jumlah data products: 32951
Jumlah data sellers: 3095
Jumlah data product category: 71

### Transform

In [9]:
def check_duplicates(df, column):
    """Cek duplikat data"""
    duplicate_counts = df[column].value_counts()
    unique_counts = len(duplicate_counts)
    print(f"Jumlah data unik pada kolom {column}: {unique_counts}")
    if len(duplicate_counts[duplicate_counts > 1]) == 0:
        print(f"Tidak ada duplikat data pada kolom {column}")
    else:
        print(f"Ada duplikat data pada kolom {column} sebanyak {len(duplicate_counts[duplicate_counts > 1])}")

In [10]:
check_duplicates(customers_df, 'customer_unique_id')

Jumlah data unik pada kolom customer_unique_id: 96096
Ada duplikat data pada kolom customer_unique_id sebanyak 2997

Dimensi Geolocation

In [167]:
dim_geo = geo_df.copy()
print(geo_df.columns.tolist())
print(len(geo_df))

['geolocation_zip_code_prefix', 'geolocation_lat', 'geolocation_lng', 'geolocation_city', 'geolocation_state']
1000163

In [168]:
check_duplicates(dim_geo, 'geolocation_zip_code_prefix')
dim_geo = dim_geo.drop_duplicates(subset=['geolocation_zip_code_prefix'])
print(f"Duplikat data berhasil dihapus. Jumlah data geolocation: {len(dim_geo)}")

Jumlah data unik pada kolom geolocation_zip_code_prefix: 19015
Ada duplikat data pada kolom geolocation_zip_code_prefix sebanyak 17972
Duplikat data berhasil dihapus. Jumlah data geolocation: 19015

In [169]:
dim_geo['geolocation_city'] = dim_geo['geolocation_city'].str.title()
dim_geo['geolocation_state'] = dim_geo['geolocation_state'].str.upper()
dim_location = dim_geo[['geolocation_zip_code_prefix', 'geolocation_city', 'geolocation_state']]

dim_location = dim_location.drop_duplicates(subset=['geolocation_zip_code_prefix'])
dim_location = dim_location.reset_index(drop=True)
dim_location = dim_location.rename(columns={
    'geolocation_zip_code_prefix': 'zip_code_prefix', 
    'geolocation_city': 'city_name', 
    'geolocation_state': 'state_abbr'
})
dim_location

       zip_code_prefix             city_name state_abbr
0                 1037             Sao Paulo         SP
1                 1046             Sao Paulo         SP
2                 1041             Sao Paulo         SP
3                 1035             Sao Paulo         SP
4                 1012             São Paulo         SP
...                ...                   ...        ...
19010            99955          Vila Langaro         RS
19011            99970               Ciriaco         RS
19012            99910      Floriano Peixoto         RS
19013            99920              Erebango         RS
19014            99952  Santa Cecilia Do Sul         RS

[19015 rows x 3 columns]

Dimensi Customers

In [170]:
dim_customers = customers_df.copy()
print(dim_customers.columns.tolist())

['customer_id', 'customer_unique_id', 'customer_zip_code_prefix', 'customer_city', 'customer_state']

In [ ]:
# Satu customer_unique_id bisa punya lebih dari satu customer_id
# Unique key: customer_id
# Foreign key: geolocation_sk -> dim_geo

check_duplicates(dim_customers, 'customer_id')

dim_customers = dim_customers.drop_duplicates(subset=['customer_id'])

Jumlah data unik pada kolom customer_id: 99441
Tidak ada duplikat data pada kolom customer_id
(99441, 5)

In [172]:
dim_customers = dim_customers.merge(dim_location[['zip_code_prefix']], how='left', left_on='customer_zip_code_prefix', right_on='zip_code_prefix')
dim_customers['customer_key'] = dim_customers['customer_id']
dim_customers = dim_customers[['customer_key', 'customer_id', 'customer_unique_id', 'zip_code_prefix']]
dim_customers['zip_code_prefix'] = dim_customers['zip_code_prefix'].fillna(0).astype(int)
dim_customers

,customer_key,customer_id,customer_unique_id,zip_code_prefix
0,06b8999e2fba1a1fbc88172c00ba8bc7,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409
1,18955e83d337fd6b2def6b18a428ac77,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790
2,4e7b3e00288586ebd08712fdd0374a03,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151
3,b2b6027bc5c5109e529d4dc6358b12c3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775
4,4f2d8ab171c80ec8364f7c12e35b23ad,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056
...,...,...,...,...
99436,17ddf5dd5d51696bb3d7c6291687be6f,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,3937
99437,e7b71a9017aa05c9a7fd292d714858e8,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,6764
99438,5e28dfe12db7fb50a4b2f691faecea5e,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,60115
99439,56b18e2166679b8a959d72dd06da27f9,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,92120
99440,274fa6071e5e17fe303b9748641082c8,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,6703

In [142]:
print(sellers_df.columns.tolist())
check_duplicates(sellers_df, 'seller_id')

['seller_id', 'seller_zip_code_prefix', 'seller_city', 'seller_state']
Jumlah data unik pada kolom seller_id: 3095
Tidak ada duplikat data pada kolom seller_id

### Load